@charset "UTF-8";


/* q1が終わったら
q2のcssはq2フォルダの中のcssファイルに記述してください */

.clearfix {
  content: "";
  display: block;
  clear: both;
}

.q1_container {
  width: 300px;
  background-color: #3274ae;
  margin-left: 30px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.q1_container:first-child {
  margin: 0;
}

.q1_content {
  background-color: #eaf4ff;
  padding: 20px;
  border: solid 10px #022336;
  font-size: 16px;
  line-height: 16px;
}